.container {
	width: 70em;
}

.box-shadow {
	box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.poker-table {
	background: green;
}

.card-footer h4,
.card-header h4 {
	margin-bottom: .2rem;
}

.poker-card h1 {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    font-size: 2.0rem;
}

.card-red {
	color: red;
}

.card-black {
	color: black;
}

.poker-card {
	outline: 2px dashed darkgray;
	outline-offset: -10px;
	width: 7em;
}

.poker-card.card-back {
	background: repeating-linear-gradient(
			135deg,
			#606dbc,
			#606dbc 10px,
			#465298 10px,
			#465298 20px
	);
}

.poker-community-cards {
	margin: 1em auto 1em auto;
}

.container-form {
	background-color: #ffffff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 300px;
	text-align: center;
}

h3 {
	color: #555;
	font-size: 18px;
	margin-bottom: 20px;
}

label {
	font-size: 16px;
	color: #333;
	margin-bottom: 5px;
	display: block;
}


input[type="number"] {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 15px;
	box-sizing: border-box;
}

button {
	padding: 10px 15px;
	font-size: 16px;
	background-color: #4CAF50;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
	width: 100%;
}

button:hover {
	background-color: #316f35;
}

form {
	margin-top: 20px;
}

#playerInputs {
	margin-top: 15px;
}

#playerInputs input {
	width: 100%;
	padding: 8px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 16px;
	box-sizing: border-box;
}

.center-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}